parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:withIsLast\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/InventoryResource/RelationManagers/MovementsRelationManager.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:withIsLast\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/MovementItemResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:withIsLast\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/MovementResource/RelationManagers/MovementItemsRelationManager.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:visibleTo\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/ScopeResource.php

		-
			message: '#^Call to an undefined method Filament\\Forms\\Components\\Field\:\:multiple\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/TaskResource/RelationManagers/InventoriesRelationManager.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:visibleTo\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:visibleTo\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/UserResource/RelationManagers/ScopesRelationManager.php

		-
			message: '#^Access to an undefined property Spatie\\Permission\\Models\\Role\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Parameter \#1 \$key of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:contains\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: bool\)\|Illuminate\\Database\\Eloquent\\Model\|int\|string, Closure\(Spatie\\Permission\\Models\\Role\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Property Illuminate\\Routing\\Route\:\:\$compiled \(Symfony\\Component\\Routing\\CompiledRoute\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Providers/AppServiceProvider.php
